
/*Reset*/

*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Modification here*/

nav{
    display: flex;
    background: black;
    height: 80px;
    justify-content: center;
}
nav > button{
    background: rgb(36, 36, 36);
    color: white;
    border: none;
    height: 100%;
    width: 150px;    
}
.container{
    margin: 20px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img{
    width: 500px;
    height: 500px;
    background: url("https://img00.deviantart.net/830d/i/2018/186/2/9/the_mystical_waterfall_by_atndesign-dcgdcjt.jpg");
}